.form {
    display: flex;
    flex-direction: column;

    &__button {
        margin-top: var(--size-md);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

    }

    &__inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--size-sm);
        row-gap: var(--size-sm);
    }

    &__item {
        display: flex;
        flex-direction: column;
        grid-column: span 2;
        position: relative;

        &--full {
            grid-column: 1 / -1 !important;
        }

        &--not-valid:not(.form__item--checkbox) {
            position: relative;

            .form__input {
                outline: 2px solid var(--color-white);
                color: var(--color-white);
                padding-right: 30px;
            }

            .form__label {
                color: var(--color-white);
            }
           
        }

        &--focused {
            .form__label {
                color: var(--color-white) !important;
            }

            .form__input {
                border-color: var(--color-white);
                color: var(--color-white);
                outline: 2px solid var(--color-white) !important;
            }
        }

        &--checkbox {
            display: flex;
            margin-top: var(--size-md);
            position: relative;
            padding-left: 30px;
        }

        @media (min-width: 640px) {
            grid-column: span 1;
        }

        &:nth-last-child(1) {
            grid-column: span 2;
        }
    }

    &__checkbox {
        position: absolute;
        opacity: 0;
        left: 0;

        & + label {
            position: relative;
            cursor: pointer;
            padding: 0;
            font-size: var(--size-xxs);
            color: var(--color-white);
            font-weight: 500;
        }

        & + label:before {
            content: "";
            position: absolute;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border: 1px solid var(--color-white);
            // border-radius: 10pc;
        }

        &:checked + label:after {
            content: "";
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            background: var(--color-white);
            // border-radius: 10pc;
        }

        &:focus + label:before {
            box-shadow: 0 0 0 2px var(--color-white);
        }
    }

    &__input {
        padding: var(--size-xxs);
        font-size: var(--size-xs);
        border: 1px solid var(--color-white);
        // border-radius: var(--size-xs);
        color: var(--color-white);
        width: 100%;
        background-color: rgba(0, 0, 0, 0);

        // @include xl {
            // padding: var(--size-xxxs);
            // font-size: var(--size-xxs);
        // }
    }

    &__label {
        font-size: var(--size-xs);
        margin-bottom: var(--size-xxxs);
        font-weight: 500;
        color: var(--color-white);
        // display: none;
    }
}

.error-message {
    display: none;
    position: absolute;
    top: 100%;
    color: #ff0000;
    font-size: var(--size-xxs);
    margin-top: 5px;
}
